* {
    box-sizing:border-box;
}



:root {
    --black:rgb(23, 16, 16); 
    --blue:rgb(66, 117, 187);
    --green:rgba(21, 196, 21, 0.774);
    --magenta:rgb(186, 43, 186);
}




::selection {
    background-color: var(--green);
    color:var(--black);
}


html {
    font-size: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:radial-gradient(circle, rgba(216, 82, 198, 0.899),rgb(192, 30, 30));
    font-size: 100%;
}

h1 {
    text-align: center;
    margin: 10px;
    border: 1px;
    padding: 5px;

}


h2 {
    margin-bottom: 0.625rem;
  color:var(--magenta);
  font-weight: 700;
  line-height: 1.1;
  font-size: 200%;
  text-align: center;
}


header {
    background: transparent;
    display: block;
   text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: larger;
}

section .mywork {
    margin: 60%;
    border: 1px;
    position: relative;
    text-align: justify;
}

section .contactme {
    justify-content: end;
    display:flex;
    flex-wrap: wrap;
    border: 1px;
    margin: 60%;
    text-decoration: black;


}



.img {
    display: flex;
  flex-direction: column;
 
  min-height: 100%;
  padding: 2rem;
  color: var(--black); 
}

main {
    width: 98%;
    margin: 5rem auto;
    display:flex;
    flex-wrap: wrap;

}

aside {
    width: 40%;
    margin-right: 5px;
    padding-right: 5px;
    float:left;
}

aside > p {
    margin: 5%;
    font-size: 100%;
}


@media screen and (max-width: 992px) {
    aside > p {
        font-size: 50%;

    }
}

@media screen and (max-width: 600px) {
    aside > p {
        font-size: 100%;
        justify-content: center;
    }
    
    body {
        justify-content: center;
        font-size: 100%;
    }
    
}
    

