* {
    box-sizing:border-box;
}



:root {
    --black:rgb(23, 16, 16); 
    --blue:rgb(66, 117, 187);
    --green:rgba(21, 196, 21, 0.774);
    --magenta:rgb(186, 43, 186);
}




::selection {
    background-color: var(--green);
    color:var(--black);
}


html {
    font-size: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:var(--blue);
}

h1 {
    text-align: center;
    margin: 10px;
    border: 1px;
    padding: 5px;

}


h2 {
    margin-bottom: 0.625rem;
  color:var(--magenta);
  font-weight: 700;
  line-height: 1.1;
  font-size: 200%;
  text-align: center;
}


header {
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1506905925346-21bda4d32df4%3Fixlib%3Drb-4.0.3%26ixid%3DMnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fA%253D%253D%26w%3D1000%26q%3D80&imgrefurl=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fmountains&tbnid=NyZ3miXMoTLFQM&vet=12ahUKEwjc2onygoL9AhUaOUQIHQ6nDfgQMyguegUIARDWAg..i&docid=m-RtkFK2iNctFM&w=1000&h=667&q=mountain%20image&ved=2ahUKEwjc2onygoL9AhUaOUQIHQ6nDfgQMyguegUIARDWAg");
    display: block;
   text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--green);
    font-size: larger;
}



.img {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: blue; 
}

main {
    width: 98%;
    margin: 5rem auto;
    display:flex;
    flex-wrap: wrap;

}

aside {
    width: 40%;
    margin-right: 5px;
    padding-right: 5px;
    float:left;
}

aside > p {
    margin: 5%;
}



section {
    float: right;
    width: 20%;

}
