
:root {
    --blood: 
}



::selection {
    background-color: rgb(32, 202, 97);
    color:rgb(199, 45, 48);
}


html {
    font-size: 100%;
}

h1,
h2 {
    margin-bottom: 0.625rem;
  color: var(--heliotrope);
  font-weight: 700;
  line-height: 1.1;
}

h2 {
    font-size: medium;
}

.photo {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: blue; 
}

main {
    width: 98%;
    margin: 5rem auto;
}
